html {
  box-sizing: border-box;
  color: white;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  transform: scale(0.85);
}
.wrapper {
  width: 85%;
  margin-left: 5%;
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  background-image: url(../image/James\ Wallpapers\ Lebron\ James\ DesktopWallpapers\ Lebron\ James\ Desktop.jpg);
  border-radius: 10px;
  font-size: 1.5rem;
}
p,
[for="abtype"] {
  margin: 1rem 0 0 0;
}
section {
  flex-basis: 80%;
  margin-right: 5%;
  margin-left: 8%;
}
aside {
  flex-basis: 20%;
  margin-right: 8%;
  margin-top: 2rem;
}
fieldset {
  border: 2px rgb(195, 206, 214) solid;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}
legend {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;

  margin-bottom: 0.3rem;
}
label {
  display: block;
  margin-bottom: 0.3rem;
}

button {
  font-size: 1rem;
  margin: 1rem;
  background-color: #bb342f;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}
button:hover {
  background-color: white;
  color: #bb342f;
}
textarea {
  height: 5rem;
}
input:not([type="radio"]):not([type="checkbox"]),
textarea,
select {
  display: block;
  margin-bottom: 0.5rem;
  width: 15rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 0 1rem;

  border-radius: 10px;
  border: none;
}
h1,
legend {
  font-family: "Creepster", cursive;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(255, 70, 70);
  font-weight: normal;
}
h1 {
  font-size: 2.5rem;
}
